<mat-tab-group id="modal">
    <mat-tab label="Inserir">
        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Insira o nome</mat-label>
           <input matInput placeholder="Ex. Cleiton Luiz Salvador" class="inputzin" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" >
           <mat-label>Insira o nome de usuário</mat-label>
           <input matInput placeholder="Ex. Cleiton405" class="inputzin" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" >
           <mat-label>Insira a senha</mat-label>
           <input matInput placeholder="Min. 6 caracteres" class="inputzin" [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" >
           <mat-label>Confirmação de senha</mat-label>
           <input matInput placeholder="" class="inputzin" [(ngModel)]="cpassword">
        </mat-form-field>

          <button mat-raised-button (click)="insert()"><mat-icon>add_circle_outline</mat-icon></button>
    </mat-tab>

    <mat-tab label="Excluir">
        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Insira o ID do usuário</mat-label>
            <input matInput placeholder="Ex. 1" class="inputzin" [(ngModel)]="id">
           </mat-form-field>
           <button mat-raised-button (click)="delete()"><mat-icon>delete</mat-icon></button>
    </mat-tab>

    <mat-tab label="Editar senha">
        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Insira o ID do usuario</mat-label>
            <input matInput placeholder="Ex. 1" class="inputzin" [(ngModel)]="id">
        </mat-form-field>
        <button mat-raised-button (click)="htmlAdd()"><mat-icon>done_outline</mat-icon></button>
        <div *ngIf="html == 'true'">
            <mat-form-field class="example-full-width" appearance="fill" >
               <mat-label>Insira a nova senha</mat-label>
               <input matInput placeholder="Min. 6 caracteres" class="inputzin" [(ngModel)]="password">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" >
               <mat-label>Confirme a nova senha</mat-label>
               <input matInput placeholder="" class="inputzin" [(ngModel)]="cpassword">
            </mat-form-field>
               <button mat-raised-button (click)="edit()"><mat-icon>edit</mat-icon></button>
            </div>
    </mat-tab>
  </mat-tab-group>


  <button mat-raised-button class="botao" (click)="cancel()">Sair</button>

