
<mat-tab-group id="modal">
    <mat-tab label="Inserir">
        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Insira um subgrupo</mat-label>
           <input matInput placeholder="Ex. Calça" class="inputzin" [(ngModel)]="description">
          </mat-form-field>
          <button mat-raised-button (click)="insert()"><mat-icon>add_circle_outline</mat-icon></button>
</mat-tab>
</mat-tab-group>

  <button mat-raised-button id="botao" (click)="cancel()">Sair</button>
